html, body {
  width: 100%;
  min-height: 100%;
  height: 100%; 
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.ui.grid, .App, #root {
  height: 100%;
  min-height: 100%;    
}

.header {
  padding:10px 5px;
  color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}

.topbar {
  text-align: center;
}

.float-left { 
  float: left;
}

.float-right { 
  float: right; 
}

.position-relative {
  position: relative;
}
.text-center { text-align: center; }
.bg-purple  { background-color: #9627ba!important; }
.bg-green   { background-color: #16ab39; }
.bg-yellow  { background-color: #eaae00; }
.bg-red     { background-color: #db2828!important; }
.bg-orange  { background-color: #f26202; }
.bg-olive   { background-color: #a7bd0d; }
.bg-teal    { background-color: #00b5ad; }
.bg-blue    { background-color: #1678c2!important; }
.bg-violet  { background-color: #6435c9; }
.bg-pink    { background-color: #e03997; }
.bg-brown   { background-color: #975b33; }
.bg-grey    { background-color: #838383; }
.bg-black   { background-color: #27292a; }
.bg-grey-light { background-color: #e0e0e0; }


section#content {
  /* padding-top: 10px; */
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chat-messages {
  position: absolute;
  top: 0px;
  bottom: 120px;
  left: 0;
  z-index: 10;
  width: 100%;
  color: #000;
  overflow: hidden;

}

.brand {
  overflow: hidden;
  display: block;
  margin: 0px auto;
  text-align: center;
}


.chat-user-item {
  padding: 10px 5px!important;
  color: #fff;
}
.chat-user-item:hover{
  cursor: pointer;
  background:#a7bd0d;
  color: #000;
}

.ui.list .list > .item .description, .ui.list > .item .description {
  color: #fff;
}
.brand h1 {
  padding: 0px;
  color: #fff;
  text-align: center;

}

.ui.grid > .column:not(.row) {
  padding-bottom: 0;
}

.ui.menu.topnav {
  border-radius: 0;
}

.ui.grid > .column.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.chat-user-item a.header, 
.ui.list > .chat-user-item a.header  {
  color: #fff!important;
}
.chat-user-item a.header:hover, 
.ui.list > .chat-user-item a.header:hover  {
  color: #fff!important;
}

.ui.grid > .column.chat-pane-container {
  padding-right: 0px;
  min-height: 100%;
  height: 100%;
}

.chat-screen-container {
  padding-right: 0px;
  min-height: 100%;
  height: 100%;
  position: relative;
}


.msg-input-container {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  padding-right: 20px;
  width: 99%;
  background-color: #cecece;
}
.ui.input > input[name='msg'] {
  width: auto;
  padding: 8px 15px;
}
.ui.input > input[name='msg']::placeholder {
  color: #000;
}

.ui.grid > .user-list-container {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 11px;
}



.user-list {
  min-height: auto;
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 10%;
  overflow-y: scroll;
  z-index: 11;
  transition: .3s ease-in-out all;
}

.user-list.hidden-list {
  right: -300px;
}

@media only screen and (max-width: 480px) and (min-width: 320px)  {
  .user-list {
    width: 150px;
    top: 64px;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .user-list {
    width: 200px;
    min-height: 100%;
    right: 0;
    bottom: 0;
  }  
}

@media only screen and (min-width: 992px) {
  .user-list {
    width: 200px;
    min-height: 100%;
    right: 0;
  }    
}

@media only screen and (min-width: 1200px) {
  .user-list {
    width: 260px;
    /* bottom: 100px; */
  }    
}