html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

.ui.grid, .App, #root {
  /* height: 100%; */
  /* min-height: 100%; */
}



.hidden {
  display: none!important;
}

.topbar {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}
.text-center { text-align: center; }
.bg-purple  { background-color: #9627ba!important; }
.bg-green   { background-color: #16ab39!important; }
.bg-yellow  { background-color: #eaae00!important; }
.bg-red     { background-color: #db2828!important; }
.bg-orange  { background-color: #f26202!important; }
.bg-olive   { background-color: #a7bd0d!important; }
.bg-teal    { background-color: #00b5ad!important; }
.bg-blue    { background-color: #1678c2!important; }
.bg-violet  { background-color: #6435c9!important; }
.bg-pink    { background-color: #e03997!important; }
.bg-brown   { background-color: #975b33!important; }
.bg-grey    { background-color: #838383!important; }
.bg-black   { background-color: #27292a; }
.color-white { color: #fff; }
.bg-grey-light { background-color: #e0e0e0!important; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.ml-0 { margin-left: 0px!important;}
.mr-0 { margin-right: 0px!important;}
.height50 {
  max-height: 50px;
  height: 50px;
}

section#content {
  /* padding-top: 10px; */
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chat-messages {
  position: fixed;
  top: 115px;
  bottom: 60px;
  overflow-y: scroll;
  z-index: 10;
  padding: 10px;
  width: 100%;
  color: #000;
  /* overflow: hidden; */
}
.chat-meesages > p {
  color: #000;
}

.brand {
  overflow: hidden;
  display: block;
  margin: 0px auto;
  text-align: center;
}


.chat-user-item {
  padding: 10px 5px!important;
  color: #fff;
}
.chat-user-item:hover{
  cursor: pointer;
  background:#a7bd0d;
  color: #000;
}

.ui.list .list > .item .description, .ui.list > .item .description {
  color: #fff;
}
.brand h1 {
  padding: 0px;
  color: #fff;
  text-align: center;

}

.ui.grid > .column:not(.row) {
  padding-bottom: 0;
}

.ui.menu.topnav {
  border-radius: 0;
}
.ui.menu .item.color-white,
.ui.menu .item.color-white:hover {
  color: #fff;
}
.ui.grid > .column.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.chat-user-item a.header,
.ui.list > .chat-user-item a.header  {
  color: #fff!important;
}
.chat-user-item a.header:hover,
.ui.list > .chat-user-item a.header:hover  {
  color: #fff!important;
}

.ui.grid > .column.chat-pane-container {
  padding-right: 0px;
  min-height: 100%;
  height: 100%;
}

.chat-screen-container {
  /* padding-right: 0px; */
  /* min-height: 100%; */
  /* height: auto; */
  /* position: relative; */
}
.ui.comments .comment.chat-msg {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.chat-msg {
  padding: 12px!important;
  border-radius: 6px;
  max-width: 450px;
  min-width: 450px;
  display: block;
}
.chat-msg.receive {
  background-color:#2882FE!important;
}
.chat-msg.send {
  background-color: #0049B2!important;
  width: 80%;
}
.ui.comments .comment.chat-msg .text {
  color: #fff;
}
.ui.comments .comment.chat-msg .metadata {
  color: rgba(255, 255, 255, 0.753);
}

.msg-input-container {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: #cecece;
}

.ui.input > input[name='msg'] {
  width: auto;
  padding: 8px 15px;
}
.ui.input > input[name='msg']::placeholder {
  color: #000;
}

.ui.grid > .user-list-container {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 11px;
}

.unread-messages-count{
  margin-left: -9px !important;
  z-index:1000;
}

.user-list {
  min-height: auto;
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 10%;
  overflow-y: scroll;
  z-index: 11;
  transition: .3s ease-in-out all;
}

.user-list.hidden-list {
  right: -300px;
}

@media only screen and (max-width: 480px) and (min-width: 320px)  {
  .user-list {
    width: 150px;
    top: 64px;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .user-list {
    width: 200px;
    min-height: 100%;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .user-list {
    width: 200px;
    min-height: 100%;
    right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .user-list {
    width: 260px;
    /* bottom: 100px; */
  }
}


.avatar-option {
  cursor: pointer;
}
.avatar-option.selected {
  border: 5px solid green;
  border-radius: 50%;
}

.chat-user-bar {
  width: 100%;
  padding: 10px;
  height: 50px;
  color: #fff;
}
.ui.menu .ui.dropdown .menu > .item.message-dropdown-item {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
}
.ui.dropdown .menu > .item.message-dropdown-item > .image,
.ui.dropdown .menu > .item.message-dropdown-item > img
{
  float: left;
  margin-top: 10px;
}
.ui.dropdown .menu > .item.message-dropdown-item > .content{
  float: none;
  word-wrap: break-word;
  white-space: normal;
  margin-left: 15px;
}

.message-header-date{
  font-size: 11px;
  color: rgba(0,0,0,.4);
}
